<!DOCTYPE html>
<html>
<head>
  <title>Fanfare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:alert] %>
	<p style="color: #F00"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
	<p style="color: #0F0"><%= flash[:notice] %></p>
<% end %>
<%= yield %>

<% if @current_user %>
	<p>
	Logged in as <%= @current_user.username %>
	<%= link_to("Log Out", session_path(id: @current_user.id), method: 'DELETE') %>
	</p>
<% else %>
	<p><%= link_to("Log In", new_session_path) %></p>
<% end %>
</body>
</html>
